/* definir estilos iniciais para todos os elementos da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilização da página home  */
body{    
    background-color: #365f7c;
}
header{
    padding: 20px;
    background-color: #2c4659;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}
h1{
    color: rgb(66, 55, 55);
    /* display: flex; */
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 600;
   
}
nav{
    
    width: 800px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
a{
    display: flex;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.botoesHeader:hover{
    transform: scale(1.2);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 30px;
    gap: 10px;
}
.ftt{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

.foto-nene{     
    height: 500px;
    width: 300px;
 
}

.descricao{
    color: black;
}

.right{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.minha-foto{
    display: flex;
    padding:unset;
    width: auto;
    height: 500px;
}

/* Estilização da página sobre mim */
.sobreMim{
    display: flex;
    gap: 1px;
    margin: 10px;
    text-align: justify;
}


/* estilização da pagina contato */
.mensagem{
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    border: none;
    border-radius: 20px;
}
.assunto{
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    border: none;
    border-radius: 20px;
    resize: none;
}
 .botao{
    font-weight: 600;
    color: var(--corla);
    padding: .5rem;
    margin: 1rem;
    width: 6rem;
    border: none;
    border-radius: 20px;
    transition: .3s;
    
 }
 #botaoCancelar:hover{
    transform: scale(1.2);
    background-color: red;
 }
 #botaoEnviar:hover{
    transform: scale(1.2);
    background-color: green;
 }
.imagem{
    display: flex;
    align-items:flex-start;
    padding: 5px 10px;
    margin: 1px;
    width: 80px;  
}
.imagem:hover{
    transform: scale(2);

}
#imagem-1{ 
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 1px;    
}  
.ctt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contatos{
    padding: 1px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

/* alinhamento de texto */
p{
    font-family: 'Lato', sans-serif;
    padding: 8px 50px;
    color: aliceblue;
}
h2{
    
    text-align: center;
    color: aliceblue;
    
}

/* estilizaçao pagina hobbie */
.hobbie{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 30px;
    text-align: center;
  
}
.imagem-hobbie{
    display: flex;
    align-items:flex-start;
    padding: 5px 10px;
    margin: 1px;
    width: 250px; 
}
.hobbie-img{
    display: flex;
    flex-direction: row;
    padding: 2px 20px;
    align-items:center;
    gap: 5px;     
}

/* Estilização do Rodapé */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
  }
  
.footer{
    text-align: center;
}