*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-image: url(..//img/WhatsApp\ Image\ 2023-05-21\ at\ 13.17.26.jpeg);
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
}
body{
    
    background-color: #365f7c;
}
header{
    background-color: #2c4659;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 1400px;
}
h1{
    color: rgb(66, 55, 55);
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 600;
    align-items: center;
}
nav{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    
}
a{
    display: flex;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


.nome{
    width: 1000px;
   
}
.segunda-section{
    width: 10px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-nene{
    display: flex;
    flex-direction: column;
    height: 500px;

}
.tentativa{
    
    display: flex;
    width: 1000px;
    justify-content: 10px;
    
}
.descricao{
    color: black;
}
.left{
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;

}
main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 70px;
}
.minha-foto{
    display: flex;
    padding:unset;
    width: auto;
    height: 500px;
}
.foto-nene{
    display: flex;
    padding:unset;
    width: 300px;
    height: 350px;
}

/* Estilização da página sobre mim */

.biografia{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}

/* estilização da pagina contato */
.mensagem{
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    border: none;
    border-radius: 20px;
}
.assunto{
    padding: 1rem;
    margin: 1rem;
    width: 90%;
    border: none;
    border-radius: 20px;
    resize: none;
}
 .botao{
    font-weight: 600;
    color: var(--corla);
    padding: .5rem;
    margin: 1rem;
    width: 6rem;
    border: none;
    border-radius: 20px;
    transition: .5s;
 }
 #botao-1:hover{
    background-color: red;
 }
 #botao-2:hover{
    background-color: green;
 }
.imagem{
    display: flex;
    align-items:flex-start;
    /* justify-content: space-evenly; */
    padding: 500px 10px 10px 100px;
    margin: 1px;
}
#imagem-1{ 
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px ;
    margin: 1px;
} 
.ctt{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contatos{
    background-color: antiquewhite;
    padding: 1px 1px 1px 1px;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

/* alinhamento de texto */
p{
    font-family: 'Lato', sans-serif;
    padding: 8px 50px;
    text-align:justify;
    color: aliceblue;
}
h2{
    
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}

/* estilizaçao pagina hobbie */
.hobbie{
    display: flex;
    flex-direction: column;
}
.hobbie-img{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    align-items: center;
    gap: 10px; 
    
    /* width: 1000px; */
    /* height: 600px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
}

/* Rodapé */
footer{
    background-color: rgb(35, 30, 30);
   
}
.footer{
    text-align: center;
}